################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestCase/.vs/TestCase
/TestCase/bin/Debug/net6.0
/TestCase/obj
